{
  "host": "localhost",
  "port": 3010,
  "public": "../public/",
  "paginate": {
    "default": 10,
    "max": 50
  },
  "authentication": {
    "secret": "98bd12adb6a2464673788f575a63991a2604e06e60e76c748967372842e92a05761f32c090f5c81f6d3789e70cd1912648f779fc16b5e6b16d7d68c9c6d2626edd0cb80dc82d472c0225908fa471137f03d984d0944d5b2b6620a9d7ec7083352cccd98066c233dceacb26521073064d05ab260ab53b71bc86b98e1e2c4d0dc3908e6c6290e32b69fb9ac22e1979ff6d3536f693ec93866d310aa731a4931a454d0fa31f1a52c6d1cde40eb9f210d6fcb9c6e70a56e1a897f8f2cb2ba6786677cea9be20bc462648c56ce5f02ca868cdfffd4d110df22651f2970ef0cd7cba21b42741341972abc4f5c8ff5a0ae86cbe428f08773cc0ca87e3c33854a76bfba3",
    "strategies": [
      "jwt",
      "local"
    ],
    "path": "/authentication",
    "service": "users",
    "jwt": {
      "header": {
        "type": "access"
      },
      "audience": "https://yourdomain.com",
      "subject": "anonymous",
      "issuer": "feathers",
      "algorithm": "HS256",
      "expiresIn": "1d"
    },
    "local": {
      "entity": "user",
      "usernameField": "email",
      "passwordField": "password"
    },
    "google": {
      "clientID": "your google client id",
      "clientSecret": "your google client secret",
      "successRedirect": "/",
      "scope": [
        "profile openid email"
      ]
    },
    "facebook": {
      "clientID": "your facebook client id",
      "clientSecret": "your facebook client secret",
      "successRedirect": "/",
      "scope": [
        "public_profile",
        "email"
      ],
      "profileFields": [
        "id",
        "displayName",
        "first_name",
        "last_name",
        "email",
        "gender",
        "profileUrl",
        "birthday",
        "picture",
        "permissions"
      ]
    },
    "github": {
      "clientID": "your github client id",
      "clientSecret": "your github client secret",
      "successRedirect": "/"
    },
    "cookie": {
      "enabled": true,
      "name": "feathers-jwt",
      "httpOnly": false,
      "secure": false
    }
  },
  "mongodb": "mongodb://localhost:27017/blitz"
}
